html, body{
    background-color: rgb(0, 0, 0);
}

/* *{
    background-color: #000000;
    color: white;
} */

body{
    width: 100%;
    margin: 0;
    padding: 0;
    color:white;
}

#app{
    background-color: black;
    color:white;
}

.container, nav{
    background-color: black;
    margin: 0 auto;
    width: 100%;
}

.main-container{
    padding: 0 5rem;
    margin: 0 auto;
    margin-top: 0;
    width: 100%;
    background-color: rgba(0,0,0,1);
}

header.hero{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.filters, .minPrice, .search-input{
    display:flex;
    align-items: center;
    gap:1rem;
}

.minPrice{
    gap: 0.3rem;
}

.products-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 1rem;
}

.add{
    border: 1px solid green;
}

.remove{
    border: 1px solid red;
}

.cartIcon{
    font-size: 1rem;
    color: red;
    background-color: dodgerblue;
    border-radius: 100%;
    padding: 0.13rem 0.2rem;
    position: fixed;
    right: 1.5vh;
    z-index: 20;
    cursor: pointer;
}

.hidden{
    display:none;
}

.cartCheckbox{
    display:none;
}

.cartIcon ~ .cartCheckbox:checked  ~.cart-display-items{
    display:block;
    position: absolute;
    z-index: 10;
    right: 1.5vh;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.601);
    padding: 1.5rem 1rem;
}

.total-width{
    width:100vw;
    margin: 0;
    padding: 0;
    position: sticky;
    top:0;
    height: 100%;
}

.grid-product-item{
    margin: 1rem;
    object-fit: cover;
    align-items: center;
    text-align: center;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    width: 11.6rem;
}

.active{
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.grid-product-item img{
    width: 9rem;
    height: 7rem;
    object-fit: cover;
    margin: 0.5rem auto;
    border-radius: 20%;
}

.grid-product-item p{
    margin: 1rem 0;
}

.grid-product-item input[type='number']{
    width: 3rem;
    height: 2rem;
    text-align: center;
    padding: 0 0.8rem;
}

.grid-product-item .buttons{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    width: 100%;
}

.grid-product-item .buttons .btn{
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 23%;
}

.nav-main{
    background-color: rgba(31, 24, 24, 0.252);
}

.auth-title{
    margin-top: 1rem;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
}

.box-shadow{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
